<% content_for :title do %>Acupuncture Website<% end %>
<% content_for :description do %>Website of Guy Pretto<% end %>
<section>
  <img src="http://lorempixel.com/1170/599/abstract/1">
</section>
<section>
  <div class="form">
    <h3 class="color">Welcome to my website. My name is Guy Pretto.<br> If you are interested in 
        making an appointment for acupuncture, chinese herbs, please  use  the Contact tab
        at the top of this page. Leave your full name, phone number, email, and a
        short message.<br> My office is in San Francisco. The About tab, next to the Contact tab,
        will reveal the office address, hours of business, fees, and brief
        information about myself.<br>
        Or you can leave your email, to the right, for a general mailing list.</h3>
  </div>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label: false, :placeholder => 'Enter email address' %>
        <br/>
        <%= f.button :submit, "Sign up for Mailing List", :class => "submit" %>
      <% end %>
    </div>
  </div>
</section>