<% content_for :title do %>About<% end %>
<h4 class="color1">About Guy Pretto</h4>
<p>I am a California state-licensed acupuncturist and herbalist
   in San Francisco. I started my practice in 1987. I am also a student of zen buddhism 
   and of the chinese internal martial arts: wu style tai chi, qi gong, xing yi,
   and ba gua.<br>
   The focus in my practice is on diagnosis. I prefer to spend time finding out the 
   root and causes of an illness before I proceed to treatment. Therefore, my office
   appointments are usually longer than most acupuncturists' appointments.
<h4 class="color1">About Location, Hours, Fees, etc.</h4>
   <ul>
     <li>My office is located at 2772 Bush St., between Baker St. and Broderick St.</li>
     <li>Office hours are on Tuesday-Friday, afternoons and evenings.</li>
     <li>I accept cash or personal checks. No credit cards or insurance. There is a sliding scale.</li>
     <li>Please contact me for my fees.</li>
   </ul>
</p>